<h2>InfuseAI is solving data quality issues</h2>

<p>InfuseAI makes PipeRider, the open-source data reliability CLI tool that adds data profiling and assertions to data warehouses such as BigQuery, Snowflake, Redshift and more. Data profile and data assertion results are provided in an HTML report each time you run PipeRider.</p>

<ul>
    <li><a href="https://piperider.io" target="_blank">PipeRider homepage</a></li>
    <li><a href="https://github.com/infuseai/piperider" target="_blank">PipeRider GitHub repo</a></li>
    <li>Twitter <a href="https://twitter.com/infuseai" target="_blank">@infuseai</a></li>
    <li>Mastodon <a href="https://fosstodon.org/@piperider" target="_blank">@piperider@fosstondon.org</a></li>
</ul>