<h2>How to get started with data profiling for data quality</h2>

<p>PipeRider is available now and supports many popular datasources. Just install PipeRider, connect to your data source, and in minutes you’ll have a data profile with data assertion functionality. Find out more at the following links:</p>

<ul>
    <li><a href="https://piperider.io" target="_blank">PipeRider Homepage</a></li>
    <li><a href="https://github.com/infuseai/piperider" target="_blank">PipeRider GitHub Repo</a></li>
    <li><a href="https://twitter.com/infuseai" target="_blank">@InfuseAI on Twitter</a></li>
    <li><a href="https://discord.gg/328QcXnkKD" target="_blank">Discord community</a></li>
</ul>
