<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">
      <img src="/img/piperider-logo.svg" alt="PipeRider Logo">
      {{ site.title | escape }}
    </a>    
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- <a class="nav-link" href="{{"/" | relative_url }}">Home</a> -->
          <a class="nav-link" href="https://piperider.io">PipeRider Website</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://docs.piperider.io">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/infuseai/piperider">GitHub</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown" aria-expanded="false">Community</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://discord.gg/328QcXnkKD">Discord</a>
            <a class="dropdown-item" href="https://facebook.com/infuseai">Facebook</a>
            <a class="dropdown-item" href="mailto:support@piperider.io">Support</a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
